html
  head
    title Strapi demo application
    link(href="/css/app.css" rel="stylesheet" type="text/css")
  body

    block header
      header
        a.sitename(href="/") Sitename
        nav
          a(href="/") homepage
    block content
    block footer
      footer
        nav
          a(href="/") homepage
