html
  head
    title Strapi demo application
    link(href="/css/app.css" rel="stylesheet" type="text/css")
  body

    block header
      header
        a.sitename(href="/") Sitename
        nav
          a(href="/404") 404 page
    block content
    block footer
      footer
        = "Created with "
        a(href="http://strapi.io/")= "Strapi"
        = " - the next generation framework for Node.js."
