body{
  font-family: Helvetica;
}

a{
  text-decoration: none;
}

header {
  background: #eee;
  padding: 10px 20px;
}

header a.sitename{
  font-size: 20px;
}

header nav {
  margin-left: 20px;
  display: inline-block;
}
header nav a{
  display: inline-block;
}

header nav a + a {
  margin-left: 20px;
}

footer {
  background: #eee;
  padding: 10px 20px;
  font-size: 13px;
  color: #444;
}


.comment{
  padding: 15px 20px;
}

.comment + .comment{
  border-top: 1px solid #eee;
}
